@font-face {
  font-family: Shadow-Into-Light;
  src: url(../../fonts/Shadow-Into-Light/ShadowsIntoLight-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Black.ttf);
}
